.fixed-footer {
    position: fixed;
    overflow: hidden;
    z-index: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #252525;
    color: rgba(255,255,255,0.6);
    a {
        color: rgba(255,255,255,0.6);
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
}