footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    a {
        color: #fff;
    }
}