.entry-list,
.who,
.where,
.why,
.featured {
    margin: 1em auto;
 
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    padding: 0 20px;
    text-align: center;
    li {
        list-style: none;
        margin-bottom: 1.333em;
        padding-bottom: 0.666em;
        border-bottom: thin solid #f3f3f3;
    }
    h3 {
        line-height: 2.2rem;
        font-weight: 600;
        font-size: 2rem;
        color: #222;
        a:focus,
        a:hover {
            color: #ee8925;
        }
    }
} 

.home-alt {
    position: relative;
    overflow: hidden;
    background-color: #161616;

    padding: 3em 0;
    &.two {
        background-color: #f2f2f2;
        padding: 0;
    }
}
.who {
    img {
        width: 250px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        margin: 1em auto;
    }
    h2{
        font-size: 2rem;
        color: #fff;
        line-height: 1.7em;
    }
    p {
        color: #888;
    }
}



