---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
       {% include head.html %}

        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">

        <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

   </head>
<body>

    <div class="home animated fade-in-down">
    <!-- HERO IMAGE & INTRO -->
        <header class="hero-image" style="background-image:url('/assets/img/homepage-bg.jpg');">  
            <div class="hero-title-meta">
                <h1><span>Bold &</span>Adventurous</h1>
                <div class="social">
                    <a href="http://facebook.com/boldandadventurous" target="_blank"><i class="icon-facebook"></i> <span>Facebook</span></a>              
                    <a href="http://instagram.com/boldadventure" target="_blank"><i class="icon-instagram"></i> <span>Instagram</span></a>
                </div>
            </div>
        </header>

        <div class="home-alt">
            <div class="who">
                <h2>Hi! We're the Key Family! </h2>   
                <img src="/assets/img/fam-photo.jpg">

                <p>We're a family of 4 living, working & exploring North America in our Airstream. We've been on the road full time sine May 2015. And in that time we've visited 12 states and traveled over 23,882 miles.</p>  
                <p>We love sharing our stories with you, with plenty of instruction and inspiration along the way for those aspiring to hit the road.</p>

                <!-- <a href="/about/" class="btn primary">Learn More</a>
                 -->

            </div>
            <div class="hero-chevron"></div>
        </div>

        
        <div class="featured">
        <h3>Latest Posts</h3>
        <ul class="entry-list">
        {% for post in paginator.posts %}
            <li>
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
                {{ post.excerpt }}
                <a href="{{ BASE_PATH }}{{ post.url }}" class="btn blue">continue reading</a>
            </li>
            {% endfor %}
        </ul>  
        <a href="/archive/">VISIT THE BLOG</a>  
        </div>
        
        <div class="home-alt two">
            <div class="where">
                <h4>Where Are We?</h4>
            </div>
        </div>

        <div id='map'></div>
          <script>
            L.mapbox.accessToken = 'pk.eyJ1IjoibWszeSIsImEiOiJjaWpydzRraTAwZzY5dTJrb2RseTBvNjg2In0.0u6byOzGp6VLJo9I4JFlKw';
            var map = L.mapbox.map('map', 'mk3y.opcm2nh6')
                .setView([32.8368, -114.812], 8);

            L.mapbox.featureLayer({

                type: 'Feature',
                geometry: {
                    type: 'Point',

                    coordinates: [
                      32.8368, 
                      -114.812
                    ]
                },
                properties: {
                    'marker-size': 'large',
                    'marker-color': '#1A7C92',
                }
            }).addTo(map);
            </script>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>