---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">

    </head>
<body>

    <div class="animated fade-in-down">
        <ul class="entry-list">
        {% for post in paginator.posts %}
            <li>
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
                <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                {{ post.excerpt }}
                <a href="{{ BASE_PATH }}{{ post.url }}" class="btn blue">continue reading</a>
            </li>
            {% endfor %}
        </ul>        
    
    {% include pagination.html %}
    </div>

    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>