<!-- <div class="social">

    <a href="https://www.facebook.com/boldadventure/" target="_blank"><i class="icon-facebook"></i> <span>Facebook</span></a>             
    <a href="http://instagram.com/boldadventure" target="_blank"><i class="icon-instagram"></i> <span>Instagram</span></a>
</div> -->

<footer>
    <div class="footer-menu">
        <ul class="menu">
            <li><a href="/about/">About</a></li>
            <li><a href="/archive/">Archives</a></li>
            <li><a href="/disclosure-statement/">Disclosure Statement</a></li>
            <li><a href="mailto:us@boldandadventurous.com">Contact</a></li>
        </ul>
    </div>           
    <div class="footer-copyright">
        <p class="copyright">All content &copy; 2009–{{ site.time | date: '%Y' }} MK3Y, LLC and cannot be used, reproduced or manipulated without express consent.</p>
    </div>
</footer>