<div class="instagram-footer">
    <h4 class="instagram-title">Follow @ Instagram</h4>
    <ul id="instafeed" class="instagram-pics"></ul>
</div>
<footer>
    <div class="footer-social">
        <a href="http://facebook.com/boldandadventurous" target="_blank"><i class="icon-facebook"></i> <span>Facebook</span></a>              
        <a href="http://instagram.com/boldadventure" target="_blank"><i class="icon-instagram"></i> <span>Instagram</span></a>
    </div>

    <div class="footer-menu">
        <ul class="menu">
            <li><a href="#">Archives</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Disclosure Statement</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>           
    <div class="footer-copyright">
        <p class="copyright">&copy; 2009–{{ site.time | date: '%Y' }} Bold and Adventurous, <a href="http://mk3y.com">MK3Y, LLC</a> - All Rights Reserved.</p>
    </div>
</footer>