/* HERO IMAGE */
.hero-image {
    height: 500px;
    position: relative;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    // -moz-transition: -moz-transform 200ms ease-in;
    // -o-transition: -o-transform 200ms ease-in;
    // -webkit-transition: -webkit-transform 200ms ease-in;
    // transition: transform 200ms ease-in;
    // margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-content {
    color: #fff;

    display: block;
    width: 100%;
    text-align: center;

    h1 {
        display: inline-block;
        max-width: 76%;
        margin: 0 auto;
        padding: 0;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -.1rem;
        text-shadow: 0 1px 4px rgba(39, 54, 69, .3);
        z-index: 1
    }
}
.hero-meta {
    position: relative;
    font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -.02rem;
    z-index: 1;
    margin-top: 10px;
        -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
     &:before {
        position: absolute;
        content: '';
        top: -5px;
        left: 43%;
        right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        width: 14%
    }
}
