*, *:after, *:before {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;

font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
    line-height: 1.7;
    font-size: 20px;
    color: #273645;
    background: #f9f9f9;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out

}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}  

p,
li {

}

p {
    margin-top: 0;

}

h1, h2, h3, h4 {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

strong {
    font-weight: bold;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #000;
}

a:hover, 
a:focus {
    color: #2795b6;
}

::-moz-selection { background: #fff0b9; }
::selection { background: #fff0b9; }

.site-wrap {
    position: relative;
    width: auto;
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
    &::after,
    &::before {
        content: '';
        display: table
    }
    &::after {
        clear: both
    }
    @media handheld, only screen and (max-width:814px) {
        margin-left: 4rem;
        margin-right: 4rem
    }
    @media handheld, only screen and (max-width:600px) {
        margin-left: 3rem;
        margin-right: 3rem
    }
    @media handheld, only screen and (max-width:400px) {
        margin-left: 2rem;
        margin-right: 2rem
    }
}