article.post {
    margin-bottom: 50px;
        footer {
            border-top: 1px solid #dededc;
            text-align: right;
            padding-top: 10px;
    }
    p > a {
        color: #55acee;
        border-bottom: 2px dotted #55acee;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
    }
    p > a:focus,
    p > a:hover {
          color: #2ecc71;
        border-bottom: 2px dotted #2ecc71;
    }
}

.post-header h2 {
    font-size: 220%;
    margin: 0 0 40px;
    color: #222;
    a:focus,
    a:hover {
        color: #55acee;
    }
} 

.post-content h1 {
    font-size: 200%;
    margin: 40px 0 15px;
    color: #222;
}

.pagination {
    display: flex;
    width: 100%;
    padding:  3.125rem 0;
    margin-bottom: 100px;
    & div {
        flex-grow: 1;
        &:nth-of-type(2) {
            text-align: center
        }
        &:nth-of-type(3) {
            text-align: right;
        }
    }
}

// a.close {
//     position:fixed; top:2%; right:2%;
//     background-color: #ccc;
//     -webkit-border-radius: 50% 0 50% 50%;
//     -moz-border-radius: 50% 0 50% 50%;
//     border-radius: 50% 0 50% 50%;
//     font-size: 40px;
//     height: 40px;
//     line-height: 46px;
//     width: 40px;
//     font-weight: 200;
//     color: white;
//     text-align: center;
//     -webkit-transform: translate3d(0, 0, 0);
// }

// .close:hover {
//   background-color: #e34b4f;
// }




progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: red;
}

.flat::-moz-progress-bar {
  background-color: red;
}


.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}