---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <link rel="stylesheet" href="https://d3ubxrwj4q6e59.cloudfront.net/styles.css">
        
    </head>
<body>

    {% assign minutes = content | number_of_words | divided_by: 150 %}
    {% if minutes == 0 %}
    {% assign minutes = 1 %}
    {% endif %}

    <a href="/" class="close">&times;</a>

    <progress value="0"></progress>

    <div class="article animated fade-in-down">
        <article>
            <!-- HERO IMAGE & INTRO -->
            <header class="hero-image" style="background-image:url('{{ page.cover }}')">  
                <div class="hero-title-meta">
                    <h1>{{ page.title }}</h1>
                    <div class="meta">
                     {{ page.by }} <span class="middotDivider"></span> <time datetime="{{ page.date | date: '%B %d, %Y' }}">{{ page.date | date: '%B %d,  %Y' }}</time> <span class="middotDivider"></span> {{ minutes }} minute read
                    </div>
                </div>
                <div class="hero-chevron"></div>
            </header>
            <div class="article-content">
                {{ content }}
            </div>
        </article>
    </div>

 
        <nav class="article-prev-next">
            {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}" style="background-image:url('{{ page.previous.cover }}');">
                <div class="prev-next-content">
                    <span>Previous Article</span>
                    <h3>{{page.previous.title}}</h3>
                </div>
             </a> 
            {% endif %} 
                
            {% if page.next.url %} 
            <a class="next" href="{{page.next.url}}" style="background-image:url('{{ page.cover }}');">
                <div class="prev-next-content">
                    <span>Next Article</span>
                    <h3>{{page.next.title}}</h3>
                </div>
            </a> 
            {% else %}
            <a class="next" href="{{page.next.url}}" style="background-image:url('{{ page.cover }}');">
                <div class="prev-next-content">
                    <span>Up Next</span>
                    <h3>{{page.next.title}}</h3>
                </div>
            </a> 
            {% endif %}
        </nav>
   <div class="fixed-footer">
        {% include footer.html %}
    </div>

    {% include scripts.html %}
    
    <script src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>

    <script src="//load.sumome.com/" data-sumo-site-id="c3796a2ede0c85e7285cfca48d250998caaae8629458fe927e3fa7baf807edbf" async="async"></script>
    
</body>
</html>